<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>
<body>
<span>Your confirmation code is: </span><b>{{authCode}}</b>
</body>
</html>