<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Your internal service password.</title>
</head>
<body>
<span>Your internal service password: </span><b>{{newPassword}}</b>
<p><span>Now you can log in by email and this password or change it later.</span></p>
</body>
</html>