<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Your code to reset password.</title>
</head>
<body>
<span>Your code to reset password: </span><b>{{code}}</b>
</body>
</html>